/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/**** NAVIGATION ANIMATIONS ****/
@keyframes arrow-blink {
  0%,
  50%,
  100% {
    opacity: .95; }
  25%,
  75% {
    opacity: .5; } }

@keyframes nav-arrow {
  0% {
    transform: translate(0, 0) rotate(0); }
  50% {
    transform: translate(19.5rem, 0); }
  100% {
    transform: translate(19.5rem, 20rem) rotate(180deg); } }

@keyframes nav-arrow-reverse {
  0% {
    transform: translate(19.5rem, 20rem) rotate(180deg); }
  50% {
    transform: translate(0, 20rem); }
  100% {
    transform: translate(0, 0) rotate(0); } }

/**** SPOTLIGHT ANIMATIONS ****/
@keyframes diffuse-info {
  0% {
    opacity: .3; }
  50% {
    opacity: .5; }
  100% {
    opacity: .9; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fff; }

body {
  font-family: "Archivo", sans-serif; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(9, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end];
  transition: opacity 0s; }
  .container.focus-active {
    opacity: 0.2;
    transition: opacity 1500ms; }

.sticky {
  position: sticky;
  left: 3rem;
  top: 15rem;
  writing-mode: vertical-lr;
  letter-spacing: 0.5rem;
  transform: rotate(180deg);
  opacity: 0.7; }

/*
.fade-out {
    width: 100%;
    height: 23rem;
    background-image: linear-gradient(to bottom, transparent 0%, $color-white 20%);
    position: absolute;
    bottom: 0;
    margin-bottom: 10rem;
    z-index: 15;
}
*/
p {
  font-size: 1.5rem; }

a {
  text-decoration: none;
  color: inherit; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Alfa Slab One", cursive;
  color: black;
  text-transform: uppercase; }

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: 2rem; }

.heading-2 {
  font-size: 3.5rem;
  letter-spacing: 1.5rem; }

.heading-3 {
  font-size: 2rem;
  letter-spacing: 0.3rem; }

.heading-4 {
  font-size: 1.7rem;
  letter-spacing: 0.2rem; }

.heading-5 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem; }

.splide-carousel__items {
  display: flex;
  position: relative;
  width: 100%;
  padding: 2rem 7rem 5rem 7rem;
  overflow: hidden; }

.splide-carousel__item {
  display: grid;
  grid-template-rows: 80% 20%;
  position: relative;
  text-align: center; }
  .splide-carousel__item:hover .splide-carousel__zoom,
  .splide-carousel__item:hover .splide-carousel__item-info {
    visibility: visible;
    animation: diffuse-info 0.8s linear 1; }
  .splide-carousel__item img {
    max-width: 100%;
    max-height: 100%; }
  .splide-carousel__item-info {
    grid-row: 2 / -1;
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    visibility: hidden;
    padding: 0.5rem 1rem;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.9;
    z-index: 5; }
  .splide-carousel__item-title {
    grid-column: 1 / 2;
    font-size: 1.3rem; }

.splide-carousel__img {
  grid-row: 1 / -1;
  grid-column: 1 / 2; }

.splide-carousel__zoom {
  grid-row: 1 / -1;
  grid-column: 2 / -1;
  justify-self: end;
  visibility: hidden;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer; }

.splide-carousel__slide-arrow {
  background: #000 !important;
  width: 3rem !important;
  height: 3rem !important; }
  .splide-carousel__slide-arrow svg {
    width: 2rem !important;
    height: 2rem !important;
    fill: #fff !important; }

.splide-carousel__slide-pages.is-active {
  background: #000 !important; }

.about {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];
  padding-bottom: 10rem; }
  .about__sidebar {
    grid-row: 1 / -1;
    grid-column: full-start / center-start;
    position: relative; }
  .about__sticky {
    letter-spacing: 0.5rem; }
  .about__info {
    grid-row: 1 / -1;
    grid-column: center-start / full-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .about__title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: none; }
  .about__contact {
    font-size: 2.5rem;
    padding-bottom: 1.5rem; }
    .about__contact > a,
    .about__contact > a:link,
    .about__contact > a:visited {
      color: palevioletred; }
  .about__heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  .about__clients, .about__awards {
    position: relative;
    padding: 1.5rem; }
    .about__clients::after, .about__awards::after {
      content: '';
      display: block;
      width: 30rem;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 4.5rem; }
  .about__client-list, .about__award-list {
    display: flex;
    justify-items: center;
    align-items: center;
    list-style: none;
    padding: 1rem; }
  .about__client-item, .about__award-item {
    font-size: 1.5rem;
    padding: 1rem; }

.header {
  grid-row: 1 / 1;
  grid-column: full-start / full-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 3px 3px 4px #fff;
  z-index: 20;
  transition: transform 0.8s, opacity 1s; }
  .header.scroll-down {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  .header.scroll-up {
    transform: none; }
  .header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-2rem);
    transition: all 0.5s ease-out; }
    .header__title.active {
      transform: translateX(13rem); }
  .header__logo {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem 2rem 0.5rem 0;
    cursor: pointer; }
    .header__logo img {
      max-width: 100%;
      max-height: 100%; }

#menu-open {
  color: #000;
  cursor: pointer; }

.focus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  background-color: #fff;
  padding: 1rem;
  border: 2px solid #000;
  box-shadow: 7px 9px 20px #54483a;
  opacity: 0;
  transition: opacity 1s;
  z-index: 50; }
  .focus--portrait {
    justify-content: flex-start;
    flex-direction: row;
    width: 65vw; }
  .focus.appear {
    opacity: 1;
    transition: opacity 1.5s; }
  .focus__close {
    display: flex;
    position: absolute;
    top: -2rem;
    right: -2rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20; }
    .focus__close-icon {
      width: 2.5rem;
      height: 2.5rem; }
  .focus__img-wrapper {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .focus__img-wrapper--portrait {
      width: max-content;
      height: 100%; }
  .focus__img {
    max-width: 100%;
    max-height: 100%; }
  .focus__piece-info {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #fff;
    color: #000;
    padding: 1rem; }
    .focus__piece-info--portrait {
      flex-basis: 40rem;
      flex-grow: 2;
      padding: 0 3rem 1rem 3rem; }
  .focus__title {
    font-family: "Alfa Slab One", cursive;
    font-size: 2rem;
    padding-bottom: 1rem; }
  .focus__client {
    font-style: italic;
    padding-bottom: 1.5rem; }
  .focus__logo {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: "Alfa Slab One", cursive;
    text-transform: uppercase; }
  .focus__hide {
    display: none; }

.footer {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 4rem 2rem 2.5rem 8rem; }
  .footer__title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: inherit; }
  .footer__home {
    color: inherit; }
  .footer__img {
    max-width: 5rem;
    max-height: 5rem;
    margin-left: 2rem; }
    .footer__img::before {
      content: '';
      display: block;
      width: 1px;
      height: 5rem;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 10.7rem; }
    .footer__img > img {
      width: 100%;
      height: 100%; }
  .footer__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
  .footer__link-item {
    color: inherit;
    padding: 2rem; }

.nav-menu {
  grid-column: full-start / col-start 1;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease-out;
  z-index: 20;
  /*
    &__initial {
        position: relative;
        
        &.active {
            margin-top: 10rem;
        }
    }
    */ }
  .nav-menu.active {
    grid-row: 1 / 1;
    width: 19%;
    box-shadow: 4px 4px 3px #fff;
    padding: 1.5rem; }
  .nav-menu__translate {
    transform: translateX(-12rem); }
  .nav-menu__scale {
    transform: scale(1);
    transition: transform 0.1s; }
    .nav-menu__scale:hover {
      transform: scale(1.2); }
  .nav-menu__open-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10rem;
    left: 3rem;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    font-family: "Alfa Slab One", cursive;
    font-size: 4rem;
    font-weight: 700;
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0.9;
    cursor: pointer;
    padding: 0.3rem 1rem 0.5rem 1.2rem;
    transition: top 1s; }
    .nav-menu__open-arrow.scroll-down {
      top: 1rem; }
    .nav-menu__open-arrow.animate-nav-arrow {
      animation: nav-arrow 1.2s ease-in 1 running forwards; }
    .nav-menu__open-arrow.animate-nav-arrow-reverse {
      animation: nav-arrow-reverse 1.5s ease-out 1 running forwards; }
  .nav-menu__initial.active {
    display: none; }
  .nav-menu__content {
    display: none;
    height: 80vh;
    margin-top: 7rem; }
    .nav-menu__content.active {
      display: block; }
  .nav-menu__close {
    font-size: 5rem;
    font-weight: bold;
    width: min-content;
    height: 20%; }
  .nav-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-family: "Archivo", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase; }
  .nav-menu__list-item {
    display: flex;
    align-items: center;
    font-size: 2rem;
    list-style: none;
    margin-left: 0.3rem;
    transform: translateX(-19rem);
    transition: transform 0.4s; }
    .nav-menu__list-item.active {
      transform: translateX(0rem); }
    .nav-menu__list-item > a {
      color: #fff;
      background-color: #000;
      padding: 0.5rem;
      box-shadow: 3px 3px 1px #000;
      transition: transform 0.3s; }
      .nav-menu__list-item > a:hover {
        transform: translateX(10px);
        font-weight: bold; }

#menu-close {
  display: block;
  cursor: pointer; }

.spotlight {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];
  background-color: #fff;
  margin-bottom: 30rem; }
  .spotlight__sidebar {
    grid-row: 1 / -1;
    grid-column: full-start / center-start;
    position: relative; }
  .spotlight__sticky {
    top: 20rem;
    letter-spacing: 0.5rem; }
  .spotlight__pieces {
    grid-row: 1 / -1;
    grid-column: center-start / full-end;
    display: grid;
    grid-auto-rows: 34rem;
    grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
    grid-gap: 5.5rem;
    padding: 10rem 2rem 0 2rem;
    margin: 0 auto; }
  .spotlight__piece {
    display: grid;
    grid-template-rows: 80% 20%; }
  .spotlight__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 2;
    z-index: 1; }
  .spotlight__piece-info {
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 85% 15%;
    align-items: end;
    visibility: hidden;
    background-color: #fff;
    color: #000;
    padding: 1rem 0.5rem;
    opacity: 0.9;
    z-index: 10; }
  .spotlight__piece:hover .spotlight__piece-info {
    visibility: visible;
    animation: diffuse-info 0.8s linear 1; }
  .spotlight__title, .spotlight__description {
    grid-column: 1 / 2; }
  .spotlight__title {
    grid-row: 1 / 2; }
  .spotlight__client {
    grid-row: 2 / 2;
    font-size: 1.5rem; }
  .spotlight__description {
    grid-row: 2 / 2;
    font-size: 1rem; }
  .spotlight__zoom {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    width: 3rem;
    height: 3rem;
    margin: auto;
    cursor: pointer; }

.charity {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];
  margin-bottom: 30rem;
  /*
    &__splide-container {
        max-height: 50rem;
    }
    */ }
  .charity__sidebar {
    grid-row: 1 / -1;
    grid-column: full-start / center-start;
    position: relative; }
  .charity__sticky {
    letter-spacing: 0.5rem;
    padding-top: 1.5rem; }
  .charity__info {
    grid-row: 1 / 2;
    grid-column: center-start / full-end;
    padding: 1.5rem; }
  .charity__items {
    grid-row: 2 / -1;
    grid-column: center-start / full-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem; }
  .charity > * {
    width: 100%; }
  .charity__item {
    position: relative;
    /*
        &--8 {
            grid-row: 3 / span 2;
            grid-column: 6 / span 2;
        }

        &--9 {
            grid-row: 3 / span 3;
            grid-column: 8 / 9;
        }

        &--10 {
            grid-row: 6 / span 2;
            grid-column: 1 / 2;
        }

        &--11 {
            grid-row: 6 / span 2;
            grid-column: 2 / span 2;
        }

        &--12 {
            grid-row: 6 / span 2;
            grid-column: 4 / 5;
        }

        &--13 {
            grid-row: 5 / span 3;
            grid-column: 5 / span 3;
        }

        &--14 {
            grid-row: 6 / span 2;
            grid-column: 8 / 9;
        }
        */ }
    .charity__item:hover .charity__zoom {
      visibility: visible;
      animation: diffuse-info 0.8s linear 1; }
    .charity__item--1 {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3; }
    .charity__item--2 {
      grid-row: 1 / span 4;
      grid-column: 4 / span 3; }
    .charity__item--3 {
      grid-row: 1 / -1;
      grid-column: 7 / 9; }
    .charity__item--4 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 2; }
    .charity__item--5 {
      grid-row: 4 / span 2;
      grid-column: 1 / span 3; }
    .charity__item--6 {
      grid-row: 6 / span 2;
      grid-column: 1 / span 4; }
    .charity__item--7 {
      grid-row: 5 / 6;
      grid-column: 4 / 5; }
  .charity__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .charity__zoom {
    visibility: hidden;
    background-color: #fff;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 10; }

.print {
  /*
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: min-content max-content;
    grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];

    margin-bottom: 30rem;
    */
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];
  background-color: #fff;
  margin-bottom: 30rem;
  /*
    &__items {
        display: flex;
        position: relative;
        width: 100%;
        padding: 2rem 7rem 5rem 7rem;
        overflow: hidden;
    }

    &__item {
        position: relative;
        text-align: center;

        &:hover .print__zoom,
        &:hover .print__item-info {
            visibility: visible;
            animation: diffuse-info 0.8s linear 1;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
        }

        &-info {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }

    &__item-info {
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        bottom: -2rem;
        padding: 0.5rem 1rem;
        transform: translate(-50%, -50%);
        width: 100%;
        overflow: hidden;
        background-color: $color-white;
        opacity: 0.9;
        z-index: 5;
    }

    &__item-title {

    }

    &__zoom {
        visibility: hidden;
        background-color: $color-white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
    }

    &__slide-arrow {
        background: $color-black !important;
        width: 3rem !important;
        height: 3rem !important;

        & svg {
            width: 2rem !important;
            height: 2rem !important;
            fill: $color-white !important;
        }
    }

    &__slide-pages {
        &.is-active {
            background: $color-black !important;
        }
    }
    */ }
  .print__sidebar {
    grid-row: 1 / -1;
    grid-column: full-start / center-start;
    position: relative; }
  .print__sticky {
    letter-spacing: 0.5rem;
    padding-top: 1.5rem; }
  .print__info {
    grid-row: 1 / 2;
    grid-column: center-start / full-end;
    padding: 1.5rem; }
  .print__pieces {
    grid-row: 1 / -1;
    grid-column: center-start / full-end;
    display: grid;
    grid-auto-rows: 34rem;
    grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
    grid-gap: 5.5rem;
    padding: 10rem 2rem 0 2rem;
    margin: 0 auto; }
  .print__piece {
    display: grid;
    grid-template-rows: 80% 20%; }
  .print__piece:hover .spotlight__piece-info {
    visibility: visible;
    animation: diffuse-info 0.8s linear 1; }

.sketchbook {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-columns: [full-start] 8rem [center-start] 1fr [full-end];
  margin-bottom: 30rem; }
  .sketchbook__sidebar {
    grid-row: 1 / -1;
    grid-column: full-start / center-start;
    position: relative; }
  .sketchbook__sticky {
    letter-spacing: 0.5rem;
    margin-bottom: 2rem; }
  .sketchbook__info {
    grid-row: 1 / 2;
    grid-column: center-start / full-end;
    padding: 1.5rem; }
  .sketchbook__book {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 5rem; }
  .sketchbook__btn {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem; }
    .sketchbook__btn--left {
      left: 2rem;
      transform: translateY(-50%) rotate(180deg) !important; }
    .sketchbook__btn--right {
      right: 2rem; }
  .sketchbook__page {
    width: 100%;
    height: 100%;
    color: rosybrown;
    font-size: 4rem; }
  .sketchbook__loader {
    height: 0;
    width: 0;
    overflow: hidden; }

#sketchbook__magazine {
  width: 80%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto; }

#sketchbook__magazine .turn-page {
  background-color: #ccc; }

.social {
  width: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin-right: 3rem; }
  .social__item {
    background-color: #fff;
    opacity: 1; }
    .social__item img {
      height: 5rem;
      width: 5rem; }
    .social__item:hover img {
      transform: translate(-0.5px, -1px); }
    .social__item--twitter {
      transform: translate(1.5px, 2px); }
    .social__item:hover .social__item--twitter {
      transform: translate(1px, 1.5px); }

.update__container {
  background-color: #000;
  color: #fff; }

.update__title {
  color: #fff;
  padding: 1.5rem; }

.update__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem; }
  .update__form label,
  .update__form select,
  .update__form input {
    display: block;
    margin-bottom: 2rem; }
  .update__form label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem; }
  .update__form select {
    width: 17rem; }

.update__heading {
  font-size: 2rem;
  padding-bottom: 1.5rem; }

.update__edit-slide {
  display: none; }
  .update__edit-slide.active {
    display: block; }

.update__slideshow-info {
  display: none; }
  .update__slideshow-info.active {
    display: block; }

.update__btn {
  padding: .5rem; }

#update__edit-btn,
#update__new-btn {
  display: none; }
  #update__edit-btn.active,
  #update__new-btn.active {
    display: block; }
