/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/**** NAVIGATION ANIMATIONS ****/
@keyframes arrow-blink {
  0%,
  50%,
  100% {
    opacity: .95; }
  25%,
  75% {
    opacity: .5; } }

@keyframes scribble {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(75deg); }
  50% {
    transform: rotate(30deg); }
  75% {
    transform: rotate(65deg); }
  85% {
    transform: rotate(55deg); }
  90% {
    transform: rotate(60deg); }
  95% {
    transform: rotate(50deg); }
  97% {
    transform: rotate(52deg); }
  100% {
    transform: rotate(45deg); } }

/**** HEADER ANIMATIONS ****/
@keyframes slideshow-fade {
  0% {
    filter: grayscale(100%);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    filter: none; }
  75% {
    opacity: 1; }
  100% {
    filter: grayscale(100%);
    opacity: 0; } }

@keyframes header-animate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

/**** SPOTLIGHT ANIMATIONS ****/
@keyframes diffuse-info {
  0% {
    opacity: .3; }
  50% {
    opacity: .5; }
  100% {
    opacity: .9; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Archivo", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  display: grid;
  grid-template-rows: 90vh repeat(3, min-content);
  grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(9, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end];
  transition: opacity 0s; }
  .container.focus-active {
    opacity: .2;
    transition: opacity 1500ms; }

.heading-1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 4.5rem;
  color: black;
  letter-spacing: 2rem;
  text-transform: uppercase; }

.header {
  grid-row: 1 / 1;
  grid-column: col-start 1 / full-end;
  overflow: hidden;
  /*
    &__content {
        grid-column: header-col-start 1 / -1;

        background: url(/img/Frontpage7_BW.jpg) no-repeat center;
        background-size: cover;

        animation-name: header-animate;
        animation-duration: 100s;
        animation-iteration-count: infinite;
    }
    */ }
  .header__title {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    z-index: 15;
    transition: all .5s ease-out; }
    .header__title.active {
      transform: translateX(16rem); }
  .header__slideshow-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto; }
  .header__slideshow-slides {
    display: none;
    grid-row: 1 / -1;
    grid-column: 1 / -1; }
  .header__slideshow-fade {
    animation-name: slideshow-fade;
    animation-duration: 11500ms; }
  .header__slideshow-img {
    width: 100%;
    height: 100%;
    display: block; }
  .header__slideshow-caption {
    font-family: "Alfa Slab One", cursive;
    font-size: 1.5rem;
    padding: .8rem 1.2rem;
    position: absolute;
    bottom: .8rem;
    width: 100%;
    text-align: center; }
  .header__slideshow-dots {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__slideshow-dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 .2rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    .header__slideshow-dot:hover, .header__slideshow-dot.active {
      background-color: #878787; }

#menu-open {
  color: #fff;
  cursor: pointer; }

.focus {
  display: flex;
  position: fixed;
  top: 5rem;
  left: 5rem;
  width: 90vw;
  height: 85vh;
  background-color: #fff;
  padding: 3rem;
  border: 5px solid #000;
  transform: scale(0);
  z-index: 50; }
  .focus.appear {
    transform: scale(1);
    transition: all 1500ms; }
  .focus__close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    z-index: 20; }
    .focus__close-icon {
      width: 2.5rem;
      height: 2.5rem; }
  .focus__img-wrapper {
    position: relative;
    width: 80%;
    height: 100%; }
    .focus__img-wrapper::after {
      display: block;
      content: '';
      /* 16:9 aspect ratio */
      padding-bottom: 56.25%; }
  .focus__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .focus__piece-info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    height: 100%;
    background-color: #000;
    font-family: "Alfa Slab One", cursive;
    color: #fff;
    padding: 1rem; }
  .focus__title {
    font-size: 3rem;
    padding-bottom: 3rem; }
  .focus__description {
    font-family: "Archivo", sans-serif;
    font-size: 2rem;
    padding-bottom: 3rem; }
  .focus__logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-transform: uppercase; }

.footer {
  background-color: violet;
  grid-column: full-start / full-end; }

.nav-menu {
  grid-column: full-start / col-start 1;
  width: 100%;
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  transition: all .5s ease-out;
  z-index: 10; }
  .nav-menu.active {
    grid-row: 1 / 1;
    width: 300%; }
  .nav-menu__open-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -2.3rem;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    font-family: "Alfa Slab One", cursive;
    font-size: 4rem;
    font-weight: 700;
    width: 4.5rem;
    height: 4.5rem;
    opacity: .9;
    cursor: pointer;
    padding: .3rem 1rem .5rem 1.2rem;
    animation: arrow-blink 10s infinite running;
    transform: none;
    transition: transform .5s ease-out .3s; }
    .nav-menu__open-arrow.active {
      transform: rotate(180deg);
      animation-play-state: paused; }
  .nav-menu__initial.active {
    display: none; }
  .nav-menu__arrow-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5rem;
    list-style: none;
    margin-top: 7rem;
    cursor: pointer; }
    .nav-menu__arrow-list.active {
      display: none; }
  .nav-menu__arrow {
    animation: arrow-blink 5s ease-in-out infinite both; }
    .nav-menu__arrow--2 {
      animation-delay: .2s; }
    .nav-menu__arrow--3 {
      animation-delay: .4s; }
    .nav-menu__arrow--4 {
      animation-delay: .6s; }
  .nav-menu__content {
    display: none;
    height: 80%; }
    .nav-menu__content.active {
      display: block; }
  .nav-menu__close {
    font-size: 5rem;
    font-weight: bold;
    width: min-content;
    height: 20%; }
  .nav-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-family: "Archivo", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 2rem; }
  .nav-menu__list-item {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: .3rem;
    transform: translateX(-19rem);
    transition: transform .4s; }
    .nav-menu__list-item--1, .nav-menu__list-item--2, .nav-menu__list-item--3, .nav-menu__list-item--4, .nav-menu__list-item--5 {
      transform: translateX(0rem); }
    .nav-menu__list-item--1 {
      transition-delay: .2s; }
    .nav-menu__list-item--2 {
      transition-delay: .4s; }
    .nav-menu__list-item--3 {
      transition-delay: .6s; }
    .nav-menu__list-item--4 {
      transition-delay: .8s; }
    .nav-menu__list-item--5 {
      transition-delay: 1s; }
    .nav-menu__list-item > a {
      color: #000;
      background-color: #fff;
      padding: .5rem;
      box-shadow: 3px 3px 1px #fff;
      transition: transform .3s; }
      .nav-menu__list-item > a:hover {
        transform: translateX(10px);
        font-weight: bold; }
    .nav-menu__list-item::before {
      content: "\270F";
      display: inline-block;
      font-size: 3rem;
      font-weight: 600;
      margin-right: 1rem;
      transform: rotate(45deg); }
  .nav-menu__list-item:hover.nav-menu__list-item::before {
    animation-name: scribble;
    animation-duration: .5s;
    animation-delay: .1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out; }

#menu-close {
  display: block;
  cursor: pointer;
  transition: transform .1s; }
  #menu-close:hover {
    transform: scale(1.2); }

.spotlight {
  background-color: #000;
  grid-column: full-start / full-end; }
  .spotlight__pieces {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, 40rem));
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 5rem 2rem;
    padding: 10rem 2rem; }
  .spotlight__piece {
    display: grid;
    grid-template-rows: 80% 20%; }
  .spotlight__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 2;
    z-index: 1; }
  .spotlight__piece-info {
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 85% 15%;
    visibility: hidden;
    background-color: #fff;
    color: #000;
    padding: 1rem .5rem;
    opacity: .9;
    z-index: 10; }
  .spotlight__piece:hover .spotlight__piece-info {
    visibility: visible;
    animation: diffuse-info .8s linear 1; }
  .spotlight__title, .spotlight__description {
    grid-column: 1 / 2; }
  .spotlight__title {
    grid-row: 1 / 2; }
  .spotlight__description {
    grid-row: 2 / 2; }
  .spotlight__zoom {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    width: 6rem;
    height: 6rem;
    padding: 1.5rem;
    margin: auto;
    cursor: pointer; }

.gallery {
  background-color: springgreen;
  grid-column: full-start / full-end; }

.sketchbook {
  background-color: mintcream;
  grid-column: full-start / full-end; }

.social {
  grid-row: 1 / 1;
  grid-column: col-end 9 / full-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  z-index: 10; }
  .social__item {
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    opacity: 1; }
    .social__item img {
      height: 3rem;
      width: 3rem; }
    .social__item:hover {
      background-color: #a0a0a0; }
    .social__item:hover img {
      transform: translate(-0.5px, -1px); }
    .social__item--twitter {
      transform: translate(1.5px, 2px); }
    .social__item:hover .social__item--twitter {
      transform: translate(1px, 1.5px); }
